Your child has registered on the Miss O and Friends®, a life-style socialization brand for tween and young teen girls (ages 8-16), which aims to help young girls build self-esteem. We provide a 100% COPPA compliant safe socialization online environment.

Since your child is under 13 we need you to activate their account so they can participate in activities where they can submit in user generated content. All content submitted is moderated prior to posting by human eyes! Our goal is to keep kids safe online.

To complete the activation of your account please click the following link:

${host}/?page=gf_activation&key=${key}